@model Menu

@{
    ViewData["Title"] = "Menu";
}

<div class="container-fluild mx-4">
    <h1 class="h3 mb-2 text-gray-800">Menu Management</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Menu Data</h6>
            <div class="col-6 d-flex justify-content-end">
                <button onclick="createMenu()" type="button" class="btn btn-outline-primary my-4 btn-lg" data-toggle="modal" data-target="#modalCenter">
                    Add Food & Drink
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="">
                <table id="menu-data" class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- create menu Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="tableForm" method="post" autocomplete="off">
            <input asp-for="Id" id="menuId" class="form-control" aria-required="true" placeholder="" type="hidden" />
            <div class="modal-content" style="width: 550px">
                <div class="modal-header">
                    <h5 class="modal-title" id="tableFormTitle">Add Food & Drink</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <h5>Type</h5>
                            <div>
                                <input asp-for="Type" id="menu_type" class="form-control" aria-required="true" placeholder="Enter Type" />
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Name</h5>
                            <div>
                                <input asp-for="Name" id="menu_name" class="form-control" aria-required="true" placeholder="Enter Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Price</h5>
                            <div>
                                <input asp-for="Price" id="menu_price" class="form-control" aria-required="true" placeholder="Enter Price" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <h5>Description</h5>
                            <div>
                                <textarea asp-for="Description" id="menu_description" class="form-control" aria-required="true" placeholder="Enter Description" rows="4"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/menu.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#success-alert").fadeTo(4000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    </script>
}