<div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item-sidebar">
            <a class="nav-link-sidebar" asp-area="" asp-controller="Home" asp-action="Index">
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item-sidebar">
            <a class="nav-link-sidebar" asp-area="" asp-controller="Home" asp-action="OurEvent">
                <span>Our Events</span>
            </a>
        </li>

        <li class="nav-item-sidebar">
            <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Reservation" asp-action="Index">
                <span>Reservation</span>
            </a>
        </li>

        <li class="nav-item-sidebar">
            <a class="nav-link-sidebar" asp-area="" asp-controller="Home" asp-action="Menu">
                <span>Menu</span>
            </a>
        </li>

        <li class="nav-item-sidebar">
            <a class="nav-link-sidebar" asp-area="" asp-controller="Home" asp-action="Privacy">
                <span>Privacy</span>
            </a>
        </li>
    </ul>
</div>