
<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        <span>DashBoard</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Admin" asp-controller="ManageUser" asp-action="Index">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Manage Account</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Admin" asp-controller="ManageBranch" asp-action="Index">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Manage Branch</span>
    </a>
</li>