<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Home" asp-action="Index">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Home" asp-action="OurEvent">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Our Events</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Home" asp-action="BookEvent">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Book Events</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Reservation" asp-action="Index">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Reservation</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Home" asp-action="Menu">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Menu</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Customer" asp-controller="Home" asp-action="Privacy">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Privacy</span>
    </a>
</li>