<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Employee" asp-controller="Home" asp-action="Index">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Employee" asp-controller="User" asp-action="Index">
        <i class="fa fa-book" aria-hidden="true"></i>
        <span>User Take care</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Employee" asp-controller="Booking" asp-action="Index">
        <i class="fa fa-book" aria-hidden="true"></i>
        <span>Booking list</span>
    </a>
</li>