<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Manager" asp-controller="Home" asp-action="Index">
        <span>Dashboard</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Manager" asp-controller="ManageUser" asp-action="Index">
        <span>Manage User</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Manager" asp-controller="Branch" asp-action="Index">
        <span>Manage Table</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Manager" asp-controller="Branch" asp-action="Booking">
        <span>Manage Booking</span>
    </a>
</li>