<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Admin" asp-controller="ManageUser" asp-action="Index">
        <span>Manage Account</span>
    </a>
</li>

<li class="nav-item-sidebar">
    <a class="nav-link-sidebar" asp-area="Admin" asp-controller="ManageBranch" asp-action="Index">
        <span>Manage Branch</span>
    </a>
</li>